/* .MuiOutlinedInput-inputMarginDense {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    color: black !important;
}
 */
.a{
   font-size: 17px;
   padding-top: -1px !important;
   width: 208px;
   height: 42px;
   color: #1A67A3;
   border-radius: 4px;
   border:'1px solid black';
   text-decoration: none !important;
}