@media (max-width: 320px) {
    .rst{
      width: 30px;
    }
    .email{
        width:405px !important;
    }
    .content{
        width:30px !important;
    }
  }
.sm-card{
    margin-top: 218px !important;
left: 433px;
height: 332px;
background: #000000 0% 0% no-repeat padding-box !important;
border-radius: 5px;
opacity: 0.6;
}
.pswd{
    margin-top: 100px !important;
margin-left: 21px !important;
width: 170px;
height: 27px;
text-align: left;
font-size: 22px !important;
letter-spacing: 0.21px;
color: #FFFFFF !important;
opacity: 1;
}
.MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
    color: white;
}
.content{
    margin:dense !important; 
    margin-top: 8px !important;
    margin-left: 21px !important;
    width: 373px !important;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.54px;
    color: #34A853;
    opacity: 1;
}
.email{
    /* background-color: #FFFFFF; */
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    margin-right: 10px !important;
    margin-top: 28px !important;
}
.lg{
   background-image: url(./logo.png) !important;
}
.msg-im{
    top: 413px!important;
    position: absolute;
    margin-left: 396px !important;
    width: 22px;
    height: 16px;
    background:transparent;
    background-image: url('./msg.png');
    opacity: 1;
}
.rst{
    margin-top: 28px !important; 
    margin-left: 22px !important;
    width: 413px;
    height: 40px;
    background: #34A853 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    opacity: 1  !important;
    text-transform: capitalize !important;
}