.fp-card{
    height: 484px;
    margin-top: 100px !important;
    left: 433px;
    background: #000000 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    opacity: 0.6;
}
.m-i{
    top: 297px!important;
    position: absolute;
    margin-left: 396px !important;
    width: 22px;
    height: 16px;
    background:transparent;
    background-image: url('./msg.png');
    opacity: 1;
}
.lock-i{
    margin-top: -35px;
    margin-left: 400px;
    width: 15px;
    height: 20px;
    background: transparent;
    background-image: url('./lock.png');
    opacity: 1;
}
.rst-1{
    margin-top: 68px !important; 
    margin-left: 22px !important;
    width: 413px;
    height: 40px;
    background: #34A853 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    opacity: 1  !important;
    text-transform: capitalize !important;
}
.unknown{
    color: #34A853 !important;
    margin-top: 20px !important;
}