@media (max-width: 320px) {
    .rst{
      width: 30px;
    }
    .email{
        width:405px !important;
    }
    .content{
        width:30px !important;
    }
  }
.sm-card{
    margin-top: 218px !important;
left: 433px;
height: 332px;
background: rgba(0,0,0,0.7) !important;
border-radius: 5px;
/* opacity: 0.6; */
}
.pswd{
    margin-top: -22px !important;
margin-left: 27px !important;
width: 170px;
height: 27px;
text-align: left;
font-size: 22px !important;
letter-spacing: 0.21px;
color: #FFFFFF !important;
opacity: 1;
}
.MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
    color: white;
}
.content{
    margin:dense !important; 
    margin-top: 10px !important;
    margin-left: 28px !important;
    width: 373px !important;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.54px;
    color: #76BFF8 !important;
    opacity: 1;
}
.email{
    /* background-color: #FFFFFF; */
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    font-size: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin-right: 0px !important;
    margin-top: 25px !important;
    /* opacity: 0.7 !important;  */
}
.img1{
    background-color: transparent !important; 
    position: absolute;
    margin-top: -100px !important;
    left:490px !important;
    /* padding-left: -24px !important; */
    width: 150px;
    height: 60px !important;
}
.MuiCardMedia-root {
    display: block;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}
.msg-im{
    top: 418px!important;
    position: absolute;
    margin-left: 400px !important;
    width: 22px;
    height: 16px;
    background:transparent;
    background-image: url('../assets/msg.png');
    opacity: 1;
}
.rst{
    margin-top: 25px !important; 
    margin-left: 29px !important;
    width: 407px;
    height: 40px;
    background: #1A67A3 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    opacity: 1  !important;
    text-transform: capitalize !important;
}
.mail1{
    padding-top: 200px !important;
    margin-left: 320px !important;
}
.mail1-txt{
    opacity: 1;
    padding-top: 15px !important;
    margin-left: 320px !important;
    position: relative;
    color: #FFFFFF !important;
    font-size: 20px !important;
}
.unknowns {
    color: #76bff8 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none !important;
    margin-top: 30px !important;
    margin-left: 655px !important;
    position: absolute !important;
  }
  .arrow {
    position: absolute;
    color: #76bff8;
    right: 750px;
    margin-top: 589px !important;
  }
  .purviews {
    left: 690px;
    top: 612px !important;
    position: absolute !important;
  }
  .purview1-txt{
      position: absolute !important;
      left:600px;
      font-size: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      top: 610px !important;
      color:#91BBFF;
  }
