.fp-card {
  height: 459px;
  margin-top: 100px !important;
  left: 433px;
  background: rgba(0, 0, 0, 0.7) !important;
  border-radius: 5px;
  /* opacity: 0.6; */
}
.m-i {
  top: 306px !important;
  position: absolute;
  margin-left: 405px !important;
  width: 22px;
  height: 16px;
  background: transparent;
  background-image: url("../assets/msg.png");
  opacity: 1;
}
.lock-i {
  margin-top: -35px;
  margin-left: 408px;
  width: 15px;
  height: 20px;
  background: transparent;
  background-image: url("../assets/lock.png");
  opacity: 1;
}
.img {
  background-color: transparent !important;
  margin-top: 15px !important;
  position: absolute !important;
  left: 494px !important;
  /* padding-left: -24px !important; */
  top: 110px !important;
  width: 150px;
  height: 60px !important;
}
.MuiCardMedia-root {
  display: block;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
}
.rst-1 {
  margin-top: 38px !important;
  margin-left: 27px !important;
  width: 410px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #1a67a3 !important;
  border-radius: 4px;
  opacity: 1 !important;
  text-transform: capitalize !important;
}
.unknown {
  color: #76bff8 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none !important;
  margin-top: 20px !important;
}
.arrow {
  position: absolute;
  color: #76bff8;
  right: 750px;
  margin-top: 589px !important;
}
.email-box {
  /* background-color: #FFFFFF; */
  border: 1px solid #ffffff !important;
  /* opacity: 0.6 !important; */
  width: 405px !important;
  height: 40px !important;
  margin-right: 0px !important;
  margin-top: 20px !important;
}
.psd-box {
  border: 1px solid #ffffff !important;
  /* opacity: 0.6 !important; */
  width: 405px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 40px !important;
  margin-right: 0px !important;
  margin-top: 18px !important;
}
.psdbox {
  border: 1px solid #ffffff !important;
  /* opacity: 0.7 !important; */
  width: 405px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 40px !important;
  margin-right: 0px !important;
  margin-top: 36px !important;
}
.pswd1 {
  margin-top: -10px !important;
  margin-left: 27px !important;
  width: 170px;
  height: 27px;
  text-align: left;
  font-size: 22px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.21px;
  color: #ffffff !important;
  opacity: 1;
}
.pur-view {
  left: 690px;
  top: 612px !important;
  position: absolute !important;
}
.purview-txt{
    position: absolute !important;
    left:600px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 610px !important;
    color:#91BBFF;
}