.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/backgrd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position: fixed;
    width: 100%;
    height: 100% ;
    z-index: 1;
}
.media{
    top: 105px;
    background-color: transparent !important; 
    left: 490px !important;
    position: absolute;
    width: 150px;
    height: 60px;
}
.MuiCardMedia-root {
    display: block;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
.card{
    height: 515px;
    margin-top: 80px !important;
    background-color:rgba(0,0,0,0.7)!important;
    border-radius: 5px;
    /* opacity: 10 !important; */
}
.Text-input{
margin-top: -30px !important;
margin-left: 24px !important;
width: 147px;
height: 27px;
text-align: left !important;
font-size:  22px !important;
font-weight: 500 !important;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0.21px !important;
color: #FFFFFF !important;
opacity: 1;
}
.sm-txt{
    color: #BBDFFB !important;
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 400 !important;
    margin-left:24px !important;
    top: 215px !important;
    position: absolute;
}
.inbox{
    width: 415px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0px;
    height: 45px;
    top:45px !important;
    border: 1px solid #FFFFFF !important; 
    border-radius:4px ;
  }
  .box{
    width: 415px;
    left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 46px;
    margin-top:45px !important;
    border: 1px solid #FFFFFF !important; 
    border-radius:4px ;
  }
  .MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
    color: white;
}

.msg{
    margin-top: 10px!important;
    margin-left: 410px !important;
    width: 22px;
    height: 16px;
    background: transparent;
background-image: url('../assets/msg.png');
opacity: 1;
}
.lck{
         /* position: absolute; */
    margin-top: -35px;
    margin-left: 415px;
    width: 15px;
    height: 20px;
    background: transparent;
    background-image: url('../assets/lock.png');
    opacity: 1;
}
.check{
       /* background: #FFFFFF 0% 0% no-repeat padding-box !important; */
/* border: 1px red; */
/* border-radius: 0px; */
/* position: absolute !important; */
margin-top: 17px !important;
margin-left: 15px;
color: #FFFFFF !important;
width: 18px;
height: 18px;
}
/*  */
.MuiOutlinedInput-inputMarginDense {
    padding-top: 10.5px;
    color: white !important;
    padding-bottom: 20.5px;
}
.chck-txt{
margin-top: -30px !important;
margin-left: 35px !important;
width: 119px;
height: 22px;
text-align: left;
font-size: 18px !important;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
letter-spacing: 0.17px;
color:#FFFFFFDE !important;
opacity: 1;
}
.forgt{
    /* padding-top: -40px; */
    margin-top: -30px !important;
    margin-left: 303px !important;
    width: 119px;
    height: 22px;
    text-align: left;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: 0.16px !important;
    color:#BBDFFB!important;
    text-decoration: none;
}
.button{
    width: 415px;
    height: 40px;
    top:53px;
    right: 0px;
    background: #1A67A3 0% 0% no-repeat padding-box !important;
    /* opacity: 1 !important; */
    text-transform: capitalize !important;
    font-size: 19px !important;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #FFFFFF !important;
    /* margin-top: 12px !important; */
}
.hr-text{
    margin-top: 83px !important;
    margin-left: 25px !important;
    border: 1px solid #FFFFFF !important;
    width: 195px;
    height: 0px !important;
}
.bold{
    margin-top: 73px !important;
    color: #FFFFFF !important;
}
.hr{
    margin-left: 241px !important;
    border: 1px solid #FFFFFF !important;
    margin-top: -11px !important;
    width: 195px;
    height: 0px !important;
}
.g-btn{
    top:20px;
    right:18px !important;
    background-color: #FFFFFF !important;
    width: 190px;
    height: 40px;
    /* opacity: 1.6 !important; */
    /* background:  url('..//assets/google.png') 0% 0% no-repeat padding-box !important; */
}
.f-btn{
    top: 20px;
    left: 15px;
    width: 190px;
    height: 40px;
    background-color: #475993 !important;
}
.Nw{ 
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9px !important;
    font-size: 21px;
    margin-right:120px !important;
}
.acnt{
    margin-top: -51px !important;
    margin-left: 230px !important;
    width: 119px;
    /* height: 22px; */
    text-align: left;
    font-size: 21px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 0.16px !important;
    color: #1A67A3;
    opacity: 1;
}
.err-msg{
    color: #FF0000 !important;
    font-size: 10px !important;   
    /* margin-left:3px !important */
}
.mail{
    margin-top: 20px !important;
    margin-left: 320px !important;
}
.mail-txt{
    opacity: 1;
    margin-top: -15px !important;
    margin-left: 320px !important;
    position: relative;
    color: #FFFFFF !important;
    font-size: 20px !important;
}
.error{
    color: #EE9292 !important;
    top: 381px !important;
    left: 490px;
    position: absolute;
}
.purview-s {
    left: 690px;
    top: 612px !important;
    position: absolute !important;
  }
  .purview1-logo{
      position: absolute !important;
      left:600px;
      font-size: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      top: 650px !important;
      color:#91BBFF;
  }