.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #333739 !important;
    height: 100px;
    
}
.title{
    position: absolute !important;
    margin-left:45px !important;
    width: 102px;
    height: 36px;
}
.makeStyles-inputInput-6 {
    width: 256px !important;
    padding: 80px 80px 80px 10px;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: 6px !important;
}
.makeStyles-search-3 {
    width: auto;
    margin-left: 200px !important;
}
.makeStyles-drawerClose-14 {
    width: 73px;
    background-color: #333739 !important;
}
.text{
    position: absolute !important;
    top: 20px;
    left:88%;
    font-size: 16px !important;
}
.itext1{
    margin-top: 30px !important;
    margin-left: -25px !important;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-drag {
    -ms-touch-action: none;
    touch-action: none;
    /* bottom: 100px; */
    overflow: hidden !important;
    z-index: -1;
}
.ic-t1{
    color: white !important;
    font-size: 10px;
    margin-top: 38px;
left: -19px !important;
    position: relative;
}
.ic-t2{
    color: white !important;
    font-size: 10px;
    margin-top: 35px !important;
left: -35px !important;
    position: relative;
}
.ic-t3{
    color: #76BFF8  !important;
    font-size: 15px !important;
    top: 0px;
left: 75px !important;
    position: absolute;
}
.ic-t4{
    color: white !important;
    font-size: 15px;
    top: -32px;
left: 75px !important;
    position: absolute;
}
.ic-t5{
    color: white !important;
    font-size: 15px;
    top: -68px;
left: 75px !important;
    position: absolute;
}
.chev{
    position: absolute !important;
    margin-top: 400px !important;
    /* background-color: red !important; */
    left: 75px !important;
opacity: 1;
}
.btn{
    /* background: #F5F5F5 !important; */
    background-color: red !important;
    width: 18px !important;
height: 57px !important;
left: 5px !important;
}
.modal-content{
    margin-left: 100px !important;
    z-index: -1 !important;
}
.arrow{
    top: -10px;
}
.trc{
    font-size: 10px !important;
    position: absolute !important;
    color:white;
    z-index: '1';
    top: 30px !important;
}
.advc{
    position: absolute;
    font-size: 10px !important;
    color: white;
    right: 7px;
    top: -7px !important;
}
.adm{
    right: 17px;
    position: absolute !important;
    font-size: 10px !important;
    color: white;
    margin-top: -87px !important;
}
.purview{
    top: 700px !important;
    position: absolute;
}
