.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./assets/backgrd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position: fixed;
    width: 100%;
    height: 100% ;
}
.red{
    color: red !important;
}
.logo{
    /* background-image: url(../assets/logo.png); */
    
   margin-top: 113px;
    margin-left: 400px;
    width: 150px;
    height: 60px;
    opacity: 1;
}
.card{
    margin-top: 85px !important;
/* margin-left: 510px; */
width: 500px;
height: 595px;
background:#000000 !important;
border-radius: 5px;
opacity: 0.6;
}
.Text-input{
    position: absolute;
    top: 207px !important;
margin-left: 28px !important;
width: 147px;
height: 27px;
text-align: left !important;
font-size:  22px !important;
font-weight: 400 !important;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0.21px !important;
color: #FFFFFF !important;
opacity: 1;
}
.sm-txt{
    color: #34A853;
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 600 !important;
    margin-left:28px !important;
    top: 234px !important;
    position: absolute;
}
.inbox{
  width: 445px;
  height: 46px;
  top:20px !important;
  border: 1px solid #FFFFFF !important; 
  border-radius:4px ;
}
.box{
    width: 445px;
    height: 46px;
    margin-top:40px !important;
    border: 1px solid #FFFFFF !important; 
    border-radius:4px ;
}


.MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
    color: white !important;
}
.msg{
    margin-top: -10px!important;
margin-left: 440px !important;
width: 22px;
height: 16px;
background: transparent;
background-image: url('./assets/msg.png');
opacity: 1;
}
.lck{
    /* position: absolute; */
    margin-top: -35px;
    margin-left: 440px;
    width: 15px;
    height: 20px;
    background: transparent;
    background-image: url('./lock.png');
    opacity: 1;
}
.check{
    /* background: #FFFFFF 0% 0% no-repeat padding-box !important; */
/* border: 1px red; */
/* border-radius: 0px; */
position: absolute !important;
margin-top: 29px !important;
left: 482px;
color: #FFFFFF !important;
width: 18px;
height: 18px;
}
.MuiOutlinedInput-inputMarginDense {
    padding-top: 10.5px;
    color: white !important;
    padding-bottom: 20.5px;
}
.chck-txt{
padding-top: 33px !important;
margin-left: 55px !important;
width: 119px;
height: 22px;
text-align: left;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
letter-spacing: 0.17px;
color: #FFFFFFDE !important;
opacity: 1;
}
.chckin{
    margin-top: -29px !important;
margin-left: 30px !important;
width: 119px;
height: 22px;
text-align: left;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
letter-spacing: 0.17px;
color: #FFFFFFDE !important;
opacity: 1;
}
.forgt{
    margin-top: -21px !important;
    margin-left: 348px !important;
    width: 119px;
    height: 22px;
    text-align: left;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    letter-spacing: 0.16px !important;
    color:#34A853!important;
    opacity: 1;
}
.button{
    width: 445px;
    height: 40px;
    top:25px;
    background-color: #34A853 !important;
    opacity: 1 !important;
}
.hr-text{
    margin-top: 50px;
    
}

.g-btn{
    top:20px;
    right:9px !important;
    background-color: #FFFFFF !important;
    width: 212px;
    height: 40px;
    opacity: 1.6 !important;
    /* background:  url('..//assets/google.png') 0% 0% no-repeat padding-box !important; */
}
/* .ggl{
    background: transparent url('..//assets/google.png') 0% 0% no-repeat padding-box !important;
    top: 100px !important;
    background-color: red;
} */
.f-btn{
    top: 20px;
    left: 10px;
    width: 212px;
    height: 40px;
    background-color: #475993 !important;
}
.Nw{ 
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 30px !important;
    font-size: 21px;
    margin-right:120px !important;
}
.acnt{
    margin-top: -51px !important;
    margin-left: 250px !important;
    width: 119px;
    /* height: 22px; */
    text-align: left;
    font-size: 21px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 0.16px !important;
    color: #34A853;
    opacity: 1;
}
